@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #212529;
    background-color: #F7F7F7;    
}

section {
    text-align: center;
}
h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
margin:0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

h3 {
  
  margin:0 auto;
    text-decoration: underline #ffc107;
}

p {
    
    text-align: justify;
    height: 100%;
    width: 60ch;
    margin:0 auto;
    padding: 10px 0;
}

 
/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    line-height: 36px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #212529;
}

.active {
    border-bottom: 1px solid #ffc107;
}

/*style image christophe arleston*/

#main-title {
    display: inline;
    float: right;
    margin-top: 150px;
    margin-right:150px;
    font-size: 50px;

    /* Credit to George Dimitriadis https://stackoverflow.com/questions/23968961/css-how-can-i-make-a-font-readable-over-any-color
    for the following css to make text more readable.*/
    text-shadow:
    0.02em 0 black,
    0 0.02em black,
    -0.02em 0 black,
    0 -0.02em black,
    -0.02em -0.02em black,
    -0.02em 0.02em black,
    0.02em -0.02em black,
    0.02em 0.02em black;
}

#circle-container {
    display: inline-block;
    width: 225px;
    height: 225px;
    padding: 30px;
    border-style: solid;
    border-color: #ffc107;
    border-width: 2px;
    border-radius: 50%;
    margin: 60px 0 0 160px;
}

#circle-cover-bg {
    background: url('../assets/images/christophe-arleston.jpg') no-repeat;
    height: 100%;
    border-radius: 50%;
    
}

/*style image */

#images {
    overflow: hidden;
    float: right;
    margin-right: 175px;

}

#images>img {
    width: 400px;
    height: 315px;
    border-style: solid;
    border-color: #ffc107;
    border-width: 2px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
}
/* --------------------------------------------------------------- style biography------------------------------------------------------------------------------- */
/*style table*/

/* 
    style for rounded corner taken from https://unused-css.com/blog/css-rounded-table-corners/
    Credit to unused-css.com
    */

    table.rounded-corners {
        border-spacing: 0;
        border-collapse: separate;
        border-radius: 6px;
        border: 1px solid #ffc107;
       }
       
       /* Apply a border to the right of all but the last column */
       table.rounded-corners th:not(:last-child),
       table.rounded-corners td:not(:last-child) {
        border-right: 1px solid #ffc107;
       }
       
       /* Apply a border to the bottom of all but the last row */
       table.rounded-corners>thead>tr:not(:last-child)>th,
       table.rounded-corners>thead>tr:not(:last-child)>td,
       table.rounded-corners>tbody>tr:not(:last-child)>th,
       table.rounded-corners>tbody>tr:not(:last-child)>td,
       table.rounded-corners>tfoot>tr:not(:last-child)>th,
       table.rounded-corners>tfoot>tr:not(:last-child)>td,
       table.rounded-corners>tr:not(:last-child)>td,
       table.rounded-corners>tr:not(:last-child)>th,
       table.rounded-corners>thead:not(:last-child),
       table.rounded-corners>tbody:not(:last-child),
       table.rounded-corners>tfoot:not(:last-child) {
        border-bottom: 1px solid #ffc107;
       }
    /* end of credit */

.biocontainer {
     padding: 10px;}
.biotable {
    width: 30%;
    height: 290px;
    font-size: 100%;
    color: #212529;
    overflow: hidden;
    float: right;
    margin-right: 50px;
    margin-left: 10px;
}

td {
    padding: 5px;
}

.p-bio{
    margin-left: 300px;
}

/* --------------------------------------------------------------- style Bibliography------------------------------------------------------------------------------- */
ol {
    list-style-type: circle;
    text-align: justify;
    max-width: 700px;
}

.liste-bibli{
 margin-left: 300px;
}

li {
    margin: 10px;
}

/* --------------------------------------------------------------- footer style------------------------------------------------------------------------------- */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 3px;
    color: #ffc107;
}

/* --------------------------------------------------------------- style lanfeust.htlm------------------------------------------------------------------------------- */

#lanfeust-de-troy-bandeau-image {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url('../assets/images/lanfeust-de-troy-bandeau.jpg') no-repeat center center;
    background-size: cover;
}

#tile-lan{
    
    font-size: 40px;

    /* Credit to George Dimitriadis https://stackoverflow.com/questions/23968961/css-how-can-i-make-a-font-readable-over-any-color
    for the following css to make text more readable.*/
    text-shadow:
    0.02em 0 black,
    0 0.02em black,
    -0.02em 0 black,
    0 -0.02em black,
    -0.02em -0.02em black,
    -0.02em 0.02em black,
    0.02em -0.02em black,
    0.02em 0.02em black;}

#imgcharacter>img {
    clear: both;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-style: solid;
    border-color: #ffc107;
    border-width: 2px;
    border-radius: 50%;
    float: right;
    position: relative;
    margin-right: 250px;
}
.h2-lan{
    margin-top: 20px;
}
/* style publication*/

#publication {
    margin: 0 auto;
}

#imgpubli>img {
    clear: both;

    margin-left: 12px;
    width: 10%;
    height: auto;
}

/*add style to newsletter.html*/

#background-lanfeust {
    height: 800px;
    width: 100%;
    overflow: hidden;
    background: url('../assets/images/background_lanfeust.jpg') no-repeat center center;
    background-size: cover;
}

.signup-form {
    color: #ffc107;
    background-color: transparent;
    max-width: 400px;
    position: absolute;
    left: 25%;
    top:25%;
    padding: 30px;
}

.signup-form>h2 {
    color: #ffc107;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #ffc107;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffc107;
    border-radius: 2px;
}

.input-conteneur input {

    display: block;
    margin-bottom: 10px;
    padding-left: 100px;
}

.text-input:hover {
    border-color: #212529;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ffc107;
    color: #212529;
    display: block;
}

.join-button:hover {
    background-color: #ffc107;
    color: #212529;
}

.frame-news {
    text-align: left;
    font-size: 75%;
}

.frame-news>input {
    margin: 6px;
}

#congrats-message {
    color: #212529;
    font-weight: bold;
}

/* add style to video html */

.bluebackground {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url('../assets/images/bluebackground.jpg') no-repeat center center;
    background-size: cover;

}

#frameborder>iframe {
    width: 560px;
    height: 315px;
    border-style: solid;
    border-color: #ffc107;
    border-width: 2px;
    display: block;
    margin: 10px auto;
    position: relative;
}

/*media queries*/

/* For larger to medium screens size from 1400px wide and down */
@media screen and (max-width: 1400px) {

    body{
        font-size: 15px;
    }

     /* index.html */
    .p-bio{
        margin-left: 50px;
    }

    #main-title {
        font-size: 30px;
        margin-top: 100px;
    }

    #circle-container {
        width: 120px;
        height: 120px;
        padding: 9px;
        margin: 40px 0 0 100px;
    }

    #circle-cover-bg {
        background-size: 100%;
    }
    #images{
        margin-left: 50px;
    }

    .liste-bibli{
        margin-left: 50px;
       }

    /*lanfeust.html*/

    #imgcharacter>img {
        width: 100px;
        height: 100px;
        margin-right: 100px;
    }

    #publication {
        margin: 0px 0px 36px 350px;
    }

    #imgpubli>img {
        clear: both;
        margin-left: 5px;
        width: 10%;
        height: auto;

    }

    .frame-news {
        font-size: 100%;
    }
    
    .signup-form {
        left: 15%;
        top:36%;
    }
}

/* For medium screen sizes from 769px wide and down */
@media screen and (max-width: 769px) {
    body{
        font-size: 12px;
    }

     /* index.html */

    #main-title {
        margin-top: -100px;
        margin-right: 50px;
    }

    .liste-bibli{
        margin-top: 10px;
    }
    
    #images {
        margin: 70px 10px 70px 10px;
    }

    #images>img {
        width: 266px;
        height: 210px;
    }

    .biotable{
        height: 200px;
        margin: 0 auto;
    }

    .p-citation{
        margin-left: 125px;
    }
    /* video.html */
    
    #frameborder>iframe {
        width: 266px;
        height: 210px;
    }
    
    /* newsletter */

    #background-lanfeust {
    height: 500px;
    width: 100%;
    }
    
    .frame-news {
        font-size: 100%;
    }
    
    .signup-form {
        left: 3%;
        top:10%;
    }

    /*lanfeust.html*/

    #lanfeust-de-troy-bandeau-image {
        height: 200px;
    }

    #tile-lan {
        font-size: 20px;
    }

    .p-synopsis{
        margin: 0 auto
    }

    .p-charac{
        margin:0 auto;
    }

    .p-uni{
        margin: 0 auto
    }

    #imgcharacter>img {
        margin-right: 5px;
    }

    #publication {
        margin: 0px 0px 36px 150px;
    }
}

/* For small screen sizes below 320px width */
@media screen and (max-width: 320px) {

    body{
        font-size: 12px;
    }
    
    #menu {
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }
     /* index.html */

    #main-title {
        margin-top: -210px;
        margin-left: 100px;
        font-size: 25px;
        text-align: center;
    }

    #circle-container {
        margin-top: 35px;
    }

    .liste-bibli{
        width: 300px;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    #images {
        display: flex;
        margin: 10px 10px 10px 10px;
    }

    #images>img {
        width: 266px;
        height: 210px;
    }

    .biotable {
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    .p-bio {
        margin-left: 10px;
        width: 300px;
    }

    .p-citation{
        margin-left: 10px;
        width: 300px;
    }
    /* video.html */
    
    #frameborder>iframe {
        width: 133px;
        height: 105px;
        margin-top: 50px;
    }
    
    /* newsletter */

    #background-lanfeust {
    background-image: none;
    background-color: #3e120f;
    }
    
    .frame-news {
        font-size: 77%;
    }

    .join-button{
        margin:10px auto;
    }

    /*lanfeust.html*/

    #lanfeust-de-troy-bandeau-image {
        height: 100px;
    }

    #tile-lan {
        font-size: 15px;
    }

    .p-synopsis{
        margin-left: 10px;
        width: 300px;
    }

    .p-charac{
        margin-left: 10px;
        width: 300px;
    }

    .p-uni{
        margin-left: 10px;
        width: 300px;
    }

    #imgcharacter>img {
        margin-right: 5px;
    }

    #images>img {
        width: 133px;
        height: 105px;
        margin: 25px 0 25px 25px;
    }

    #imgcharacter>img {
        margin-right: 20px;
    }

    #publication {
        margin: 0px 0px 10px 10px;
    }
    
    #imgpubli>img {
        margin-left: 1px;
        width: 15%;
        height: 70px;
    }   
}