@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #212529;
    background-color:#F7F7F7;

}

/*  headings and photo */
h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;

}

h3 {
    position: relative;
    left: 300px;
    text-decoration: underline #ffc107;
   

}

p {position: relative;
    text-align: justify;
    height: 100%;
    width: 700px;
    margin: 20px;
    left:200px;
}

#logo {
    font-size: 250%;
    line-height: 75px;
    text-align: center;

}

#circle-container {
    width: 225px;
    height: 225px;
    padding: 30px;
    border-style: solid;
    border-color: #ffc107;
    border-width: 2px;
    border-radius: 50%;
    line-height: 0;
}

#circle-cover-bg {
    background: url('../assets/images/christophe-arleston.jpg') no-repeat;
    height: 100%;
    border-radius: 50%;

}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    line-height: 150px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #212529;
}

.active {
    border-bottom: 1px solid #ffc107;
}

/*style image */
#images {

    clear: both;
    column-count: 3;
    column-gap: 0;
margin:100px;
}

#images>img {
    float: left;
    width: 100%;
}

/*style table*/
table {
    width: 50%;
    font-size: 130%;
    padding-top: 40px;
    padding-right: 10px;
    color: #212529;
    position: absolute;

}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: left;
}

th,
td {
    border: 1px solid #ffc107;
    padding: 5px;
}


/*style biography*/

#chapitre {
    height: 50px;
    width: 700px;
    padding-left: 200px;
}



/*style Bibliographyle */
ol {
    list-style-type: circle;
    text-align: justify;
    height: 100%;
    width: 700px;
    padding-left: 200px;
    margin-left: 20px;
    margin: 20px;
}

li {
    margin: 10px;
}

/* footer style*/

footer {
    height: 150%;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffc107;
}


/*style lanfeust.htlm */




#lanfeust-de-troy-bandeau-image {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url('../assets/images/lanfeust-de-troy-bandeau.jpg') no-repeat center center;
}


/* style publication*/

#publication {
    list-style-type: none;
    text-align: justify;
    height: 100%;
    width: 700px;
    padding-left: 50px;
    margin: 10px;
}

#imgcharacter {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-style: solid;
    border-color: #ffc107;
    border-width: 2px;
    border-radius: 50%;
    float: left;
    position:absolute;
}

#imgpubli {
    clear: both;
    width: 10%;
    height: auto;
}

/*add style to newsleTter.html*/

#background_lanfeust{
    height: 800px;
    width:100%;
    overflow: hidden;
    background: url('../assets/images/background_lanfeust.jpg') no-repeat center center;
background-size: cover;

}

.signup-form {

    margin: 150px 10% 0 0;
    color: #ffc107;
    background-color: transparent;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #ffc107;
    margin-bottom: 20px;

}

.text-input {
    background: transparent;
    color: #ffc107;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffc107;
    border-radius: 2px;
}

.input-conteneur input{
    display:block;
    margin-bottom:10px;
    padding-left: 100px;
}

.text-input:hover {
    border-color: #212529;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: transparent;
    color: #ffc107;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #212529;
}

/* add style to video html */


.bluebackground {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../assets/images/bluebackground.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
}


#video {
    width:560px; 
    height:315px;
    overflow: auto;

  z-index: 1;

}
#video{
    top: 50px;
    
    z-index: 2;
}

/*media queries 320  480 mobil
                481   768 tablette
                769     1024 ordi*/
                 
@media screen and (min-width: 480px) 